extends layout

block content
  h1= title
  
  ul
  each author in author_list
    li
      a(href=author.url) #{author.name}
      |  (#{author.pretty_date_of_birth} - #{author.pretty_date_of_death})
  
  else
    li No authors found.
